<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FAQActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.worldgn.connector_plus.BP_MEASUREMENT" />
                <action android:name="com.worldgn.connector_plus.HR_MEASUREMENT" />
                <action android:name="com.worldgn.connector_plus.BR_MEASUREMENT" />
                <action android:name="com.worldgn.w22.ble.BluetoothLeService.ACTION_MAIN_DATA_OXYGEN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.worldgn.connector_plus.BP_MEASUREMENT" />
                <action android:name="com.worldgn.connector_plus.HR_MEASUREMENT" />
                <action android:name="com.worldgn.connector_plus.BR_MEASUREMENT" />
                <action android:name="com.worldgn.w22.ble.BluetoothLeService.ACTION_MAIN_DATA_OXYGEN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.worldgn.connector_plus.BP_MEASUREMENT" />
                <action android:name="com.worldgn.connector_plus.HR_MEASUREMENT" />
                <action android:name="com.worldgn.connector_plus.BR_MEASUREMENT" />
                <action android:name="com.worldgn.w22.ble.BluetoothLeService.ACTION_MAIN_DATA_OXYGEN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.Logout"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.worldgn.connector_plus.BP_MEASUREMENT" />
                <action android:name="com.worldgn.connector_plus.HR_MEASUREMENT" />
                <action android:name="com.worldgn.connector_plus.BR_MEASUREMENT" />
                <action android:name="com.worldgn.w22.ble.BluetoothLeService.ACTION_MAIN_DATA_OXYGEN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Segnalazione"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.worldgn.connector_plus.BP_MEASUREMENT" />
                <action android:name="com.worldgn.connector_plus.HR_MEASUREMENT" />
                <action android:name="com.worldgn.connector_plus.BR_MEASUREMENT" />
                <action android:name="com.worldgn.w22.ble.BluetoothLeService.ACTION_MAIN_DATA_OXYGEN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name="com.worldgn.connector.ScheduleJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.worldgn.connector.ScheduledMD5ApiCall"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>